body {
    background-color: #c3d2d8;
}
#main {
    width: 700px;
    height: 300px;
    margin-left: 450px;
    margin-top: 175px;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: rgba(240, 255, 255, 0.39);
    border-radius: 25px; 
    transform: translate(-5%, -5%);
    box-shadow: 5px 10px 10px #04719c;
    font-family: 'Poppins', sans-serif;
}
#head {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 39px;
    margin: 30px 450px 40px 450px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}
.celsius {
    margin-bottom: 15px;
    font-size: 27px;
}
.celsius span {
    font-size: 35px;
}
.fahrenheit span {
    font-size: 35px;
}
.fahrenheit {
    font-size: 27px;
    margin: 0px 0px 15px 50px;
}
input {
    width: 250px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: medium;
    outline: none;
}
input:focus {
    border-color: #3164ff;;
}